<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pmccoingroup>
                <title>PMC Coin Group</title>
                <model>Liftmode\PMCCoinGroup\Model\Payment</model>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <allowspecific>1</allowspecific>
                <min_order_total>0</min_order_total>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_refund>0</can_refund>
                <can_void>0</can_void>      
            </pmccoingroup>
        </payment>
    </default>
</config>

